body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E3C0D3;
    font-size: 2vw;
    font-family: 'Dosis', sans-serif;
}
#title{
    margin-left:10px;
}
button{
    background-color: #412234;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.75vw;
    font-family: 'Dosis', sans-serif;
    border-radius: 4px;
}
button:hover{
    background-color: #723a5b
}
.board{
    width: 75vw;
    height: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#topLeft{
    grid-row: 1;
    grid-column: 2;
    border-bottom: 5px solid;
    border-color: #412234;
}

#topCenter{
    grid-row: 1;
    grid-column: 3;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#topRight{
    grid-row: 1;
    grid-column: 4;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#middleLeft{
    grid-row: 2;
    grid-column: 2;
    border-bottom: 5px solid;
    border-color: #412234;
}

#middleCenter{
    grid-row: 2;
    grid-column: 3;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#middleRight{
    grid-row: 2;
    grid-column: 4;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#bottomLeft{
    grid-row: 3;
    grid-column: 2;
}

#bottomCenter{
    grid-row: 3;
    grid-column: 3;
    border-left: 5px solid;
    border-color: #412234;
}

#bottomRight{
    grid-row: 3;
    grid-column: 4;
    border-left: 5px solid;
    border-color: #412234;
}
#button-box{
    gird-row: 2 /span 2;
    grid-column: 5;
    margin-top: 20px;
    margin-left:10px;
}
#info{
    gird-row: 1 ;
    grid-column: 5;
    margin-top: 20px;
    margin-left:10px;
}
#message{
    background: #ffc759;
    border: #f8ae1b;
    border-radius: 4px;
    font-size: 1.75vw;
    color: white;
    padding: 1vw;
}
.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 10vw;
    height: 10vw;
}
