body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E3C0D3;
}
.board{
    width: 50vw;
    height: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#topLeft{
    grid-row: 1;
    grid-column: 1;
    border-bottom: 5px solid;
    border-color: #412234;
}

#topCenter{
    grid-row: 1;
    grid-column: 2;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#topRight{
    grid-row: 1;
    grid-column: 3;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#middleLeft{
    grid-row: 2;
    grid-column: 1;
    border-bottom: 5px solid;
    border-color: #412234;
}

#middleCenter{
    grid-row: 2;
    grid-column: 2;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#middleRight{
    grid-row: 2;
    grid-column: 3;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: #412234;
}

#bottomLeft{
    grid-row: 3;
    grid-column: 1;
}

#bottomCenter{
    grid-row: 3;
    grid-column: 2;
    border-left: 5px solid;
    border-color: #412234;
}

#bottomRight{
    grid-row: 3;
    grid-column: 3;
    border-left: 5px solid;
    border-color: #412234;
}
.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 10vw;
    height: 10vw;
}
